<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
	<!-- 
	 ################################################################
	 ## Declaracion del Servlet de wicket.
	 ## Le podemos indicar parametros de inicializacion.
	 ## Nuestra clase de Application es un parametro obligatorio.
	 ################################################################
	 -->
	<servlet>
		<servlet-name>WicketVideoClubApplication</servlet-name>
		<servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>uqbar.videoclub.ui.wicket.WicketVideoClubApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- 
	 #####################################################################################
	 ## Mapping del Servlet de Wicket:
	 ## Aqui' indicamos que cualquiera sea la URL que el cliente este' pidiendo ("/*")
	 ## el pedido debera' ser enviado al servlet de wicket que declaramos arriba.
	 #####################################################################################
	 -->
	<servlet-mapping>
		<servlet-name>WicketVideoClubApplication</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
</web-app>