<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Ejemplo de Servlets, JSP, JSTL y EL</display-name>
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>com.uqbar.edu.progui.examples.jsp.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>detalleServlet</servlet-name>
		<servlet-class>com.uqbar.edu.progui.examples.jsp.DetalleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>detalleServlet</servlet-name>
		<url-pattern>/detalleLibro</url-pattern>
	</servlet-mapping>
		<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>c.tld</taglib-location>
	</taglib>
</web-app>
