<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Sistema Videoclub</display-name>
	<servlet>
		<servlet-name>socioController</servlet-name>
		<jsp-file>/socios/listaSocios.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>actualizarSocios</servlet-name>
		<jsp-file>
			/uqbar.videoclub.socios/listaSocios.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>EliminarSocioServlet</servlet-name>
		<servlet-class>
			uqbar.videoclub.controller.EliminarSocioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscarSocioServlet</servlet-name>
		<servlet-class>
			uqbar.videoclub.controller.BuscarSocioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActualizarSocioServlet</servlet-name>
		<servlet-class>
			uqbar.videoclub.controller.ActualizarSocioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AgregarPeliculaServlet</servlet-name>
		<servlet-class>
			uqbar.videoclub.controller.AgregarPeliculaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActualizarMedioPagoServlet</servlet-name>
		<servlet-class>
			uqbar.videoclub.controller.ConfirmarPedidoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NuevoPedidoServlet</servlet-name>
		<servlet-class>uqbar.videoclub.controller.NuevoPedidoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NuevaBusquedaServlet</servlet-name>
		<servlet-class>uqbar.videoclub.controller.NuevaBusquedaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EdicionSocioServlet</servlet-name>
		<servlet-class>uqbar.videoclub.controller.EdicionSocioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NuevoSocioServlet</servlet-name>
		<servlet-class>uqbar.videoclub.controller.NuevoSocioServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WorkflowSocioServlet</display-name>
		<servlet-name>WorkflowSocioServlet</servlet-name>
		<servlet-class>uqbar.videoclub.controller.WorkflowVideoclubServlet</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>EliminarSocioServlet</servlet-name>
		<url-pattern>/EliminarSocioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarSocioServlet</servlet-name>
		<url-pattern>/BuscarSocioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActualizarSocioServlet</servlet-name>
		<url-pattern>/ActualizarSocioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarPeliculaServlet</servlet-name>
		<url-pattern>/AgregarPeliculaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActualizarMedioPagoServlet</servlet-name>
		<url-pattern>/ActualizarMedioPagoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NuevoPedidoServlet</servlet-name>
		<url-pattern>/NuevoPedidoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EdicionSocioServlet</servlet-name>
		<url-pattern>/EdicionSocioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NuevaBusquedaServlet</servlet-name>
		<url-pattern>/NuevaBusquedaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NuevoSocioServlet</servlet-name>
		<url-pattern>/NuevoSocioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WorkflowSocioServlet</servlet-name>
		<url-pattern>/WorkflowSocioServlet</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>


	<welcome-file-list>
		<welcome-file>uqbar.videoclub.socios/listaSocios.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
