/* CSS Document */
/* These are the basic UCL-CS styles.  */


h2 {
	font-size: 20px;
	font-weight: bold;	
	color:SteelBlue;	
	font-family: monospace;
	
}

.convertirButton { 
	color:#050; 
	font: bold small 'trebuchet ms',helvetica,sans-serif; 
}

.millasValue {
	width: 65px;	
}

.millasLabel{
	font-weight: bold;
	font-family: helvetica;
	color:Black;	
}

.ingreseValores{
	min-height:100%;
	width:780px;
    margin: 30px;
	position:relative;	
}

.feedbackPanel { 
	color:Red; 
	font-family: monospace;
	font-size: 12px;
}

.resultado {
	background-color: background;
	font-size: 15px;
	font-weight: bold;	
	color:Olive;
	font-family: helvetica;
    margin-left: 10%;
}

.volverLink{
    color: #444;
    display: block;
    font: normal 18px arial, sans-serif;
    height: 20px;
    padding: 2px;
    text-decoration: none;
    background-color: black;
    color:white;
    width: 60px;
    margin-top: 25px; 
    margin-left: 30px;
    font-weight: bold;	
    text-align: center;
    float: right;
}

.conversor{
	width: 30%;	
	
}